/*  body green 	= #D1DBBD
	serv green 	= #BFC7AC
	red 	 	= #993C3C
	light blue 	= #3E606F
	darker blue = #193441
	white 		= #F7F7F7
	black 		= #111111
	gray 		= #807D79
*/

html{
	background: #D1DBBD;
}

.nobullets{
		list-style: none;
		margin: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	padding: 0;
}

.container{
	/*background: url(../img/desktopcomp.jpg); */
	background-color: #7a7265;

}

nav{
	float: right;
}

nav ul{
	display: inline;
}

aside{
	float: right;
}

#footer{
	margin-left: 0px;
}

.navbar-inner{
	background: url(../img/header_backg.gif) repeat-x;
}

.cta{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	margin-right: 170px;
	margin-bottom: 70px;
}

.hero-unit{
	position: relative;
}

